[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

motor = "*"

    [packages.discord]
    git = "git@github.com:Rapptz/discord.py.git"
    ref = "rewrite"
    editable = "true"


[requires]

python_version = "3.6"
