[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
motor = "*"

    [packages.discord]
    git = "git://github.com/Rapptz/discord.py.git"
    ref = "rewrite"
    editable = "true"
    extras = ["voice"]
