aiohttp==2.2.5
async-timeout==2.0.1
chardet==3.0.4
-e git+https://github.com/Rapptz/discord.py.git@3cb6ac152edb1004dd6f6afef2adb1777902bbbe#egg=discord.py
idna==2.6
motor==1.2.1
multidict==4.1.0
pymongo==3.6.1
websockets==4.0.1
yarl==1.1.1
